/*------------------------------first icon---------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ehpy1j');
  src:  url('../fonts/icomoon.eot?ehpy1j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ehpy1j') format('truetype'),
    url('../fonts/icomoon.woff?ehpy1j') format('woff'),
    url('../fonts/icomoon.svg?ehpy1j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: var(--button);
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}

/*------------------------second icon-------------------------------*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/arrow.eot?bo6pv0');
  src:  url('../fonts/arrow.eot?bo6pv0#iefix') format('embedded-opentype'),
    url('../fonts/arrow.ttf?bo6pv0') format('truetype'),
    url('../fonts/arrow.woff?bo6pv0') format('woff'),
    url('../fonts/arrow.svg?bo6pv0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: var(--accent);
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}